.loginTitle {
  margin-top: 15px;
}
.titleSpace {
  margin-top: 5vh;
  margin-top: 5dvh;
}

.groupBtn {
  width: 100%;
  height: 15vh;
  min-height: 9rem;
  padding: 20px 0;
  position: sticky;
  z-index: 3;
  position: -webkit-sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background: black;
}
