.login-container {
  height: 100vh;
  max-height: 100vh;
  max-height: 100dvh;
  min-height: -webkit-fill-available;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.login-container::-webkit-scrollbar {
  display: none;
}

.login-header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 3;
  background: black;
}

.group-btn {
  width: 100%;
  height: 15vh;
  min-height: 9rem;
  padding: 20px 0;
  margin-top: auto;
  z-index: 3;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background: black;
}
.login-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  min-height: 140px;
  background: black;
  padding: 20px 0;
  max-width: 24rem;
  left: 50%;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}
